/* --------------------- Open Props --------------------------- */

/* the props */
@import "https://unpkg.com/open-props";

/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

/* ------------------------------------------------------------ */

body {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
}

p,
button {
  margin: var(--size-6);
}

body>picture,
button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin: 2rem;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 1rem;
    /* Ajusta el padding para pantallas pequeñas */
  }

  .buttons {
    flex-direction: column;
    /* Cambia la dirección de los botones a columna en pantallas pequeñas */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 1rem;
    /* Reduce el padding de los encabezados en pantallas pequeñas */
  }
}
