/* --------------------- Open Props --------------------------- */

/* the props */
@import "https://unpkg.com/open-props";

/* optional imports that use the props */
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

/* ------------------------------------------------------------ */

body {
  font-family: sans-serif;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
}

p,
button {
  margin: var(--size-6);
}

body>picture,
button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin: 2rem;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 1rem;
    /* Ajusta el padding para pantallas pequeñas */
  }

  .buttons {
    flex-direction: column;
    /* Cambia la dirección de los botones a columna en pantallas pequeñas */
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 1rem;
    /* Reduce el padding de los encabezados en pantallas pequeñas */
  }
}

/* src/components/contactStyle.css */

/* Ensure that the container is centered and has appropriate spacing */
.container.contact__container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
}

/* Styles for the contact options section */
.contact__options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
}

/* Styles for individual contact options */
.contact__option {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}

.contact__option:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
}

.contact__option-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.contact__option a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
}

.contact__option h5 {
  color: var(--color-light);
}

.contact__option h4 {
  font-weight: 500;
}

/* Form styling */
form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

/* Input and textarea styling */
input,
textarea {
  width: 100%;
  padding: 1.2rem;
  /* Adjusted padding to be consistent */
  border-radius: 0.5rem;
  background: transparent;
  border: 2px solid var(--color-primary-variant);
  color: var(--color-white);
}

/* Ensure consistent height for input and textarea */
input[type="text"],
textarea {
  box-sizing: border-box;
}

textarea {
  min-height: 150px;
  /* Ensure textarea has a minimum height */
  resize: vertical;
  /* Allow vertical resizing only */
}

form span {
  font-size: 0.8rem;
}
