/* TopbarStyle */
nav {
  background: rgba(0, 0, 0, 0.3);
  width: calc(min-content + 4cm);
  padding: 0.7rem 2.2rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  gap: 1rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
  justify-content: center;
}

nav a {
  background: transparent;
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-light);
  font-size: 1.5rem;
}

nav a.active {
  background: var(--color-bg);
  color: var(--color-white);
}

nav a:hover {
  background: rgba(0, 0, 0, 0.3);
}

@media (max-width: 600px) {
  nav {
    width: auto;
    padding: 0.5rem;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }

  nav a {
    font-size: 1rem;
    padding: 0.5rem;
  }
}
